.card {
  border: var(--primary) var(--borderWidth-lg) solid;
  background: var(--white);
  position: relative;
  box-shadow: var(--boxShadow-2xl);
  min-height: 300px;
  width: 100%;
}

.card>div:nth-child(2) {
  opacity: 0;
}

.card:hover>div:nth-child(2) {
  opacity: 100;
}

.verso {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background: var(--white);
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  transition: all 0.25s ease-in-out;
  overflow: auto;
}

.title {
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}

.title, .link, .description, .tags {
  padding: 0.1rem 1.5rem;
}

.title:first-child, .link:first-child, .description:first-child {
  padding-top: 1.5rem;
}

.title:last-child, .link:last-child, .description:last-child {
  padding-bottom: 1.5rem;
}

/* 
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.image {
  object-fit: cover;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
  max-height: 50%;
}