.footer {
  border-top: var(--primary) var(--borderWidth-lg) solid;
  background-color: var(--white);
  top: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  margin: auto;
}

.header {
  width: 55%;
}

.header h2 {
  color: var(--primary);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--fontSize-3xl);
  display: inline-block;
}

.header>* {
  width: 100%;
  padding: 1rem;
}

.header .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos img {
  width: 100%;
  object-fit: contain;
  height: 100px;
  width: 25%;
}

.logos img:first-child {
  width: 50%;
  min-width: 250px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 45%;
  border-left: var(--primary) var(--borderWidth-lg) solid;
  border-right: var(--primary) var(--borderWidth-lg) solid;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "community structures""productions contact";
}

.community {
  grid-area: community;
  border-right: var(--primary) var(--borderWidth-lg) solid;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
}

.structure {
  grid-area: structures;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
}

.production {
  grid-area: productions;
  border-right: var(--primary) var(--borderWidth-lg) solid;
}

.contact {
  grid-area: contact;
}


.items h3 {
  margin-bottom: 0.2rem;
}

.items>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.items>div:hover {
  background: var(--coolGray-100);
}

@media (--screen-md) {
  .container {
    flex-direction: column;
  }

  .header {
    border: none;
    width: 100%;
  }

  .items {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    border-top: var(--primary) var(--borderWidth-lg) solid;
  }

  .items>div {
    border: none;

  }
}