.field {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

.field button {
  background-color: var(--primary);
  border-radius: 0;
}

.field__prefix, .field__suffix {
  font-weight: 700;
}

.field__description {
  font-weight: 400;
  opacity: 0.8;
}

.field__suffix {
  margin-left: 0.5rem;
}

.field__area {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
  margin: 0.5rem 0;
}

.field__input {
  flex-grow: 1;
  border: none;
  color: var(--primary);
  font-weight: 400;
  border-bottom: solid var(--primary) var(--borderWidth-md);
  text-align: left;
  padding: 0.25rem 0;
  width: 100%;
}

.field__input:focus-visible, .field__input:focus, .field__input:focus-within, .field:hover .field__input {
  outline: none;
  border-bottom: solid var(--primary) var(--borderWidth-md);
}

.field__error {
  position: absolute;
  width: 100%;
  bottom: -1rem;
  font-size: 0.8em;
  color: var(--red-700);
}

.required {
  color: var(--red-700);
}

.text {
  flex-direction: column;
}

.text textarea {
  width: 100% !important;
  text-align: left;
}

.checkbox input {
  width: 20px;
  height: 20px;
  flex-grow: 0;
}