.bordered {
  border: var(--borderWidth-lg) var(--primary) solid;
}

.label {
  z-index: 10;
  background-color: var(--white);
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--white);
  aspect-ratio: 4/5;
}

.labelP {
  z-index: 10;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "label label label label date" "label label label label designer" "label label label label designer" "label label label label designer" "name name name name name";
  overflow: hidden;
}

.labelP__label, .labelC__label {
  grid-area: label;
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.labelP__label canvas, .labelP__label div, .labelC__label canvas, .labelC__label div {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1 !important;
}

.labelP__designer {
  border-right: var(--primary) var(--borderWidth-lg) solid;
  padding: 0.5em;
  grid-area: designer;
  display: flex;
  font-weight: 200;
  font-size: 1em;
  flex-direction: row;
  justify-content: space-evenly;
  writing-mode: vertical-lr;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(180deg)
}

.labelP__designer {
  padding: 0.2em;
}

.labelP__date {
  position: relative;
  border-left: var(--primary) var(--borderWidth-lg) solid;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
  grid-area: date;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  overflow: hidden;
}

.labelP__date::before {
  content: "";
  display: block;
  border-top: var(--primary) var(--borderWidth-lg) solid;
  height: var(--borderWidth-lg);
  position: absolute;
  width: 150%;
  transform-origin: 0% 0%;
  transform: rotate( -45deg);
  bottom: calc(-1 * var(--borderWidth-lg));
  left: 0;
}

.labelP__date>p {
  font-size: 0.9em;
  padding: 0.4em;
  position: absolute;
}

.labelP__date>p:first-child {
  left: 0;
  top: 0;
}

.labelP__date>p:last-child {
  right: 0;
  bottom: 0;
}

.labelP__name {
  border-top: var(--primary) var(--borderWidth-lg) solid;
  grid-area: name;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  font-size: 1.8em;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}

.labelC {
  padding: 1em;
  width: 100%;
  z-index: 10;
  background-color: var(--white);
  aspect-ratio: 4/5;
  overflow: hidden;
}

.labelC__label {
  object-fit: contain !important;
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.labelC__name {
  margin-top: 0.5em;
  padding: 0.5em;
  border: var(--primary) var(--borderWidth-lg) solid;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
  font-size: 1.2em;
}

.labelC__date {
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
  font-weight: 400;
}

.labelS {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
  position: relative;
  aspect-ratio: 4/5;
  background: var(--white);
}

.labelS__name, .labelS__adress {
  padding: 0 1em;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 3em;
  height: 3em;
  width: 80%;
  font-size: 0.8em;
  text-align: center;
}

.labelS__name {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--primary);
  top: 1em;
  right: 1em;
}

.labelS__adress {
  text-transform: lowercase;
  border: var(--primary) var(--borderWidth-lg) solid;
  background-color: var(--white);
  position: absolute;
  top: calc(4em - var(--borderWidth-lg));
  left: 1em;
  font-weight: 500;
  line-height: 2.4em;
  color: var(--primary);
}

.labelS__communities {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
  height: 20%;
  border-top: var(--primary) var(--borderWidth-lg) solid;
}

.labelS__label {
  object-fit: contain !important;
  width: 100%;
  height: 70%;
  margin-top: 10%;
  padding: 7%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}