.bordered {
  border: var(--borderWidth-lg) var(--primary) solid;
}

.label {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--white);
  padding: 1em;
  width: 100%;
  aspect-ratio: 4/5;
  overflow: hidden;
}

.sketch {
  grid-area: label;
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sketch canvas, .sketch div {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1 !important;
}
.sketch {
  object-fit: contain !important;
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.name {
  margin-top: 0.5em;
  padding: 0.5em;
  border: var(--primary) var(--borderWidth-lg) solid;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
  font-size: 1.2em;
}

.date {
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  width: auto;
  font-weight: 400;
}

@media print {
  .label {
    font-size: 8px !important;
  }
}