.bordered {
  border: var(--borderWidth-lg) var(--primary) solid;
}

.label {
  z-index: 10;
  background-color: var(--white);
  aspect-ratio: 1/1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "label label label label date" "label label label label designer" "label label label label designer" "label label label label designer" "name name name name name";
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}

.sketch {
  grid-area: label;
  width: 100%;
  padding: 7%;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sketch canvas, .sketch div {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1;
}

.designer {
  border-right: var(--primary) var(--borderWidth-lg) solid;
  padding: 0.2em;
  grid-area: designer;
  display: flex;
  font-weight: 200;
  font-size: 1em;
  flex-direction: row;
  justify-content: space-evenly;
  writing-mode: vertical-lr;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(180deg)
}

.date {
  position: relative;
  border-left: var(--primary) var(--borderWidth-lg) solid;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
  grid-area: date;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  overflow: hidden;
}

.date::before {
  content: "";
  display: block;
  border-top: var(--primary) var(--borderWidth-lg) solid;
  height: var(--borderWidth-lg);
  position: absolute;
  width: 150%;
  transform-origin: 0% 0%;
  transform: rotate( -45deg);
  bottom: calc(-1 * var(--borderWidth-lg));
  left: 0;
}

.date>p {
  font-size: 0.9em;
  padding: 0.6em;
  position: absolute;
}

.date>p:first-child {
  left: 0;
  top: 0;
}

.date>p:last-child {
  right: 0;
  bottom: 0;
}

.name {
  border-top: var(--primary) var(--borderWidth-lg) solid;
  grid-area: name;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  font-size: 1.8em;
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}