.tags {
  display: block;
}

.tags>*:not(:last-child) {
  margin-right: 0.25rem;
}

.tag {
  padding: 0.25rem 0.5rem;
  color: var(--white);
  font-weight: 400;
  background-color: var(--gray-100);
  display: inline-block;
  font-size: var(--fontSize-xs);
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}