.form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form>* {
  width: 50%;
}

.values h3 {
  color: var(--primary);
  border-top: var(--primary) var(--borderWidth-lg) solid;
  padding: 1rem;
}

.visualisation {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas: "label verso""explainer explainer";
  position: sticky;
  top: 170px;
  align-self: flex-start;
  border: var(--primary) var(--borderWidth-lg) solid;
  border-left: none;
}

.sending {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.sending h2 {
  color: var(--primary);
}

.embedForm {
  width: 100%;
  min-height: 70vh;
  box-shadow: var(--boxShadow-2xl);
}

.values {
  grid-area: values;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: var(--primary) var(--borderWidth-lg) solid;
  position: relative;
}

.values h2 {
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
  padding: 1rem;
}

.submit {
  border-top: var(--primary) var(--borderWidth-lg) solid;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--primary);
  font-weight: 600;
}

.submit:hover {
  background-color: var(--white);
  color: var(--primary);
}

.values>div {
  padding: 1rem;
}

.label {
  grid-area: label;
  border-right: var(--primary) var(--borderWidth-lg) solid;
  background-color: var(--white);
}

.explainer {
  grid-area: explainer;
  padding: 1rem;
  border-top: var(--primary) var(--borderWidth-lg) solid;
  background-color: var(--white);
}

.legends {
  list-style: none;
}

.explainer>* {
  margin-bottom: 0.5rem;
}


.legend {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 50%;
}

.verso {
  grid-area: verso;
  background-color: var(--white);
}

.name {
  text-transform: uppercase;
  color: var(--primary);
  width: auto;
}

.name, .link, .description, .tags {
  padding: 0.5rem 1.5rem;
}

.name:first-child, .link:first-child, .description:first-child {
  padding-top: 1.5rem;
}

.name:last-child, .link:last-child, .description:last-child {
  padding-bottom: 1.5rem;
}

/* 
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.illustration {
  object-fit: cover;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
  max-height: 40%;
  width: 100%;
  overflow: hidden;
  display: block;
}

@media (--screen-lg) {
  .form {
    flex-direction: column;
  }

  .form>* {
    width: 100%;
  }

  .visualisation {
    border: var(--primary) var(--borderWidth-lg) solid;
    border-top: none;
  }
}

@media (--screen-sm) {
  .form {
    border: var(--primary) var(--borderWidth-lg) solid;
  }

  .form>* {
    border: none;
  }

  .form>*:not(:last-child) {
    border-bottom: var(--primary) var(--borderWidth-lg) solid;
  }

  .visualisation {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "label""verso""explainer";
    position: inherit;
  }

  .visualisation>*:not(:last-child) {
    border: none;
    border-top: var(--primary) var(--borderWidth-lg) solid;
    min-height: 10rem;
  }

  .visualisation>*:first-child {
    border-top: none;
  }
}