.banner {
  display: flex;
  flex-direction: column;
  border: var(--primary) var(--borderWidth-lg) solid;
  background-color: var(--white);
  align-self: center;
  box-shadow: var(--boxShadow-2xl);
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: var(--primary) var(--borderWidth-lg) solid;
}


.header h1 {
  width: 40%;
  color: var(--primary);
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--fontSize-7xl);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-right: var(--primary) var(--borderWidth-lg) solid;
}

.header h2 {
  width: 60%;
  display: flex;
  font-weight: 900;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-size: var(--fontSize-3xl);

}

/* .header p {
  grid-area: description;
  padding: 1rem;
} */

.items, .guides {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}


.items>div {
  padding: 1rem;
  width: calc(100% / 3);
  border-top: var(--primary) var(--borderWidth-lg) solid;
  background-color: white;
}

.items>div:hover {
  background: var(--coolGray-100);
}

.items>div:not(:last-child) {
  border-right: var(--primary) var(--borderWidth-lg) solid;
}

.items>div>* {
  margin-bottom: 1rem;
}

.guides>div {
  width: calc(100% / 4);
  display: flex;
  height: 3rem;
  flex-direction: column;
}

.guides {
  height: 0;
  top: -3rem;
  position: relative;
}


.guides>div:not(:first-child) {
  border-left: var(--primary) var(--borderWidth-lg) solid;
}

.image, .image img {
  width: 100%;
  padding: 1rem;
}


@media (--screen-md) {
  .header {
    flex-direction: column;
  }

  .header>h1 {
    width: 100%;
    border: none;
  }

  .header>h2 {
    width: 100%;
    border: none;
  }

  .guides, .image {
    display: none;
  }

  .items {
    flex-direction: column;
    width: 100%;
  }

  .items>div {
    padding: 0;
    width: 100%;
    padding: 1rem;
    border-right: none !important;
  }

  .items>:first-child {
    border-top: none !important;
  }
}