.structureBanner, .communityBanner, .projectBanner {
    display: grid;
    gap: 0px 0px;
}

.structureBanner {
    grid-template-columns: 320px 1fr 1fr 1fr;
    grid-template-rows: 100px 350px auto auto auto auto;
    grid-template-areas: ". carousel carousel carousel""label carousel carousel carousel""label title title title""explainer description description description""share productions productions productions"". productions productions productions";
}

.communityBanner {
    grid-template-columns: 320px 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: ". title title title""label description description description""label structures structures structures""explainer structures structures structures""share map map map"". map map map";
}

.projectBanner {
    grid-template-columns: 350px 1fr 1fr 1fr;
    grid-template-rows: 75px 275px auto auto auto auto auto;
    grid-template-areas: ". carousel carousel carousel""label carousel carousel carousel""label title title title""explainer description description description"" share detail detail detail"" . detail detail detail"" . map map map";
}

/* MAIN */

.carousel {
    grid-area: carousel;
    background: var(--white);
    border: var(--primary) var(--borderWidth-lg) solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    grid-area: title;
    background: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: var(--primary) var(--borderWidth-lg) solid;
    border-top: none;
}

.title h1 {
    color: var(--white);
    text-transform: uppercase;
    width: 60%;
}

.title h2 {
    color: var(--white);
    text-transform: capitalize;
    font-size: var(--fontSize-xl);
    font-weight: 300;
    width: 40%;
    text-align: right;
    line-height: 1.1em;
}

.title h2 span:not(:first-child) {
    margin-left: 0.5rem;
}

.description {
    grid-area: description;
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: var(--primary) var(--borderWidth-lg) solid;
    border-top: none;
}

.description>p:not(:last-child) {
    margin-bottom: 1rem;
}

.productions, .structures {
    background: var(--white);
    border: var(--primary) var(--borderWidth-lg) solid;
    border-top: none;
    display: flex;
    flex-direction: column;
}

.structures {
    grid-area: structures;
}

.productions {
    grid-area: productions;
}

.structuresTitle, .productionsTitle {
    padding: 1rem;
    border-bottom: var(--primary) var(--borderWidth-lg) solid;
    color: var(--primary);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
}

.structuresTitle span,
.productionsTitle span {
    color: var(--primary);
}

.structuresList,
.productionsList {
    padding: 1rem;
    overflow-y: auto;
    max-height: 500px;
}

.structuresList>div,
.productionsList>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}


.structuresListName,
.productionsListName {
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
}

.structuresListProject,
.productionsListProject {
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
}

.detail {
    grid-area: detail;
    border: var(--primary) var(--borderWidth-lg) solid;
    border-top: none;
    background-color: var(--white);
    display: grid;
    gap: 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "materials design""fab partners";
}

.materials {
    grid-area: materials;
    border-right: var(--primary) var(--borderWidth-lg) solid;
    border-bottom: var(--primary) var(--borderWidth-lg) solid;
}

.design {
    grid-area: design;
    border-bottom: var(--primary) var(--borderWidth-lg) solid;
}

.fab {
    grid-area: fab;
    border-right: var(--primary) var(--borderWidth-lg) solid;
}

.partners {
    grid-area: partners;
}

.detail>div {
    padding: 1rem;
}

.detail>div>* {
    padding-bottom: 0.25rem;
}

.detail a {
    margin-left: 0.25rem;
}



.map {
    grid-area: map;
    border: var(--primary) var(--borderWidth-lg) solid;
    border-top: none;
    background-color: var(--white);
    height: 400px;
}

/* SIDE */

.label {
    grid-area: label;
}

.label>*:first-child {
    border: var(--primary) var(--borderWidth-lg) solid;
    border-right: none;
    height: 100%;
}

.explainer {
    grid-area: explainer;
    padding: 1rem;
    border-left: var(--primary) var(--borderWidth-lg) solid;
    border-bottom: var(--primary) var(--borderWidth-lg) solid;
    background-color: var(--white);
}

.explainer>*:not(:last-child) {
    margin-bottom: 0.5rem;
}


.legend {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 50%;
}

.node {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 50%;
    border: solid 4px #e1e1e1;
}

.share {
    padding: 1rem;
    grid-area: share;
    border-left: var(--primary) var(--borderWidth-lg) solid;
    border-bottom: var(--primary) var(--borderWidth-lg) solid;
    background-color: var(--white);
}

.sharing {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.sharing>*:not(:first-child) {
    margin-left: 0.5rem;
}

.embed {
    margin-top: 1rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.embed span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    color: var(--black);
    cursor: pointer;
}

.embed svg {
    margin-right: 0.5rem;
    height: 20px;
    width: 20px;
}

.embed textarea {
    font-family: var(--font-mono);
    resize: none;
    border: none;
    width: 100%;
    padding: 0.5rem;
    font-size: var(--fontSize-xs);
    height: 7rem;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
}

.print {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.certif {
    display: none;
}

.visible {
    display: block;
}

@media (--screen-md) {

    .structureBanner, .communityBanner, .projectBanner {
        display: flex;
        flex-direction: column;
    }

    .structureBanner>div,
    .communityBanner>div,
    .projectBanner>div {
        border: var(--primary) var(--borderWidth-lg) solid;
    }

    .structureBanner>div:not(:last-child),
    .communityBanner>div:not(:last-child),
    .projectBanner>div:not(:last-child) {
        border-bottom: transparent;
    }

    .label>*:first-child {
        border: none;
        max-width: 100%;
    }

    .print {
        display: none;
    }
}