.picker {
    display: block;
    z-index: 1000;
    padding: 0.5rem;
    border: var(--primary) var(--borderWidth-lg) solid;
    background: var(--white);
}

.picker__title {
    padding-left: 2rem;
}

.picker__choices {
    margin-top: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.picker__choices:hover > span {
    font-weight: bold;
}

.add {
    z-index: 10;
    background-color: var(--white);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    right: 2rem;
    bottom: 2rem;
    border: var(--primary) var(--borderWidth-lg) solid;
}

@media (--screen-sm) {
    .add {
        left: 2rem;
    }
}