.mapboxgl-popup-close-button {
    z-index: 100;
    background: transparent;
    border-bottom-left-radius: 0.2rem;
    color: var(--primary) !important;
    z-index: 10;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    left: 0;
    text-align: center;
}

.mapboxgl-popup-close-button:hover {
    background: transparent !important;
    color: var(--primary) !important;
}

.mapboxgl-popup-content {
    padding: 0 !important;
    width: 300px !important;
}

@media (--screen-sm) {
    .map .mapboxgl-popup {
        width: 90%;
    }
}